

<div class="col-md-8 skillattributes">
	<table class="table table-bordered table-hover spacing-table">
	<tr>
		<td class="searchrow">
			<%= image_tag(@skill.user.image, size: "75x75", class: "img-circle") %><br>
			<%=@skill.user.fname %>
		</td>
		<td class="searchrow skillshowtitle">
		<h4><%=@skill.title %></h4>
		<% if current_user %>
			<%=@skill.address %><br>
		<% end %>
		<%= @skill.city %>, <%=@skill.state %><br>
		</td>
		<td class="searchrow skillshowprice"><br><%=number_to_currency(@skill.price) %></td>
		<% if current_user %>
			<td class="searchrow"><%= link_to "Buy It Now", new_user_skill_charge_path(@user, @skill), class: "btn btn-primary", data: { no_turbolink: true } %><br>
				<%= link_to "Call", tel:@skill.user.phonenumber %><br>
				<%= mail_to @skill.user.email,"Email" %>
		<% else %>
			<td><a href="/auth/linkedin">Please log in to contact this user</a></td>
		<% end %>
	</tr>
</td>
</tr>
</table>
	<div class="aboutskill">
	<strong>About This Listing</strong><br>
	<%=@skill.description %><br>
	</div>
		Also available at these times:

	<!-- Calendar -->
	<table id="calendar"></table>

	<!--Schedule Button -->
	<div id="click-to-schedule">
		<script type="text/javascript" src="//cdn.timetrade.com/scripts/lightbox/latest/lightbox.js" ></script>
		<div class="button-box" style="border: 1px solid rgb(219, 219, 219); display: block; margin: auto; padding: 10px 15px; width: 268px; height: 110px; background-image: none; background-color: rgb(255, 255, 255);">
			<div class="title1" style="color: rgb(129, 167, 217); font-family: Arial, Helvetica, sans-serif; font-size: 14pt; line-height: 24px; text-align: center;">Schedule an appointment
			</div>
			<div class="title2" style="color: rgb(136, 136, 136); font-family: Arial, Helvetica, sans-serif; font-size: 12pt; line-height: 24px; text-align: center;">to meet with me
			</div>
			<a href="https://www.timetrade.com/book/TSLHK?sh=1" onclick="return tt.launchWorkflow(this)" target="_blank">
				<img src="//cdn.timetrade.com/images/ButtonBuilder/1.0/button-f8891b-short-medium.png" alt="Click to Schedule an Appointment" border="0" style="display: block; margin: 10px auto auto; padding: 0px; background: none 0% 0% repeat scroll transparent;"></a>
		</div>
	</div>
	
</div>



<!-- map -->
<div class="col-md-4 googlemap">
	<div id="googleMap">
	</div>
</div>
